#pragma once
{{#include_headfiles}}
#include "{{headfile_name}}"
{{/include_headfiles}}

namespace VKernel{
    {{#class_defines}}template<>
    Json Serializer::write(const {{class_name_namespace}}& instance);
    template<>
    {{class_name_namespace}}& Serializer::read(const Json& json_context, {{class_name_namespace}}& instance);
    {{/class_defines}}
}//namespace
